---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
//import heroImage from "@images/hero-image.avif";
import heroImage from "@images/social.png";
import faqs from "@data/zh-cn/faqs.json";
import features from "@data/zh-cn/features.json";
import pricing from "@data/zh-cn/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/copilot-image-3.png";
import tools from "@images/copilot-image-1.png";
import dashboard from "@images/copilot-image-2.png";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <HeroSection
    title=`我们是谁 - <span
        class="text-yellow-500 dark:text-yellow-400">Airdb</span>`
    subTitle="AIRDB 是一家前沿创业公司，具有独特的 AI-First 思维，通过 AI-Inside 方法为行业带来革命。我们以人工智能为核心，擅长打造智能副驾驶并提供广泛的创新服务。通过利用 ABCDS（人工智能、区块链、云、数据、安全）技术的变革力量，我们帮助客户和客户简化生活和工作，提高运营效率，实现可持续增长。"
    primaryBtn="开始探索"
    primaryBtnURL="/zh-cn/products"
    secondaryBtn="联系销售"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.2</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">20</span> companies integrated`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="受到行业领导者的信赖"
    subTitle="体验行业巨头选择的可靠性。"
  />

  <FeaturesGeneral
    title="为什么选择我们"
    subTitle="满足行业需求！在 Airdb，我们解决 AI 和基础软件中遇到的独特挑战。从尖端工具到专业服务，我们致力于帮助您克服障碍，实现业务目标。"
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`定制 <span class="text-yellow-500 dark:text-yellow-400">AI Copilot</span> 系统，完美构建您的商业智能。`
    tabs={[
      {
        heading: "顶尖的工具",
        content:
          "Empower your projects with Airdb's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "直观的仪表盘",
        content:
          "Navigate with ease using ScrewFast's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "强大的项目管理",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At Airdb, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "Airdb dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "5x",
        description:
          "quicker assembly using innovative fastening solutions with AI Copilot",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="携手共建, 全球增长"
    subTitle="借助 airdb 的高级技术，您可以在智能和稳定的安全网络中更快地发展。"
    url="https://github.com/airdb"
  />
</MainLayout>
