---
// Import the necessary dependencies.
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define the variables that will be used in this component
const title: string = "联系我们";
const subTitle: string =
  "有疑问或想讨论项目吗？欢迎咨询，让我们用我们的工具和服务打造完美的解决方案。";
const formTitle: string = "填写下面的表格";
const formSubTitle: string = "我们将在 1-2 个工作日内回复您。";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2
          class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <form>
          <div class="grid gap-4">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <TextInput
                id="hs-firstname-contacts"
                label="名字"
                name="hs-firstname-contacts"
              />
              <TextInput
                id="hs-lastname-contacts"
                label="姓氏"
                name="hs-firstname-contacts"
              />
            </div>
            <EmailContactInput id="hs-email-contacts" label="邮箱" />
            <PhoneInput id="hs-phone-number" label="电话" />
            <TextAreaInput
              id="hs-about-contacts"
              label="详细内容"
              name="hs-about-contacts"
            />
          </div>

          <div class="mt-4 grid">
            <AuthBtn title="发送消息" />
          </div>

          <div class="mt-3 text-center">
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              {formSubTitle}
            </p>
          </div>
        </form>
      </div>

      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
        <ContactIconBlock
          heading="通过电子邮件联系我们"
          content="更喜欢书面文字？给我们发电子邮件"
          isLinkVisible={true}
          linkTitle="support@airdb.cn"
          linkURL="#"
          ><Icon name="envelopeOpen" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="FAQ"
          content="查看我们的常见问题解答。"
          isLinkVisible={true}
          linkTitle="Visit FAQ"
          linkURL="https://airdb.wiki/faq"
          isArrowVisible={true}
          ><Icon name="chatBubble" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="知识库"
          content="浏览我们的所有知识库文章。"
          isLinkVisible={true}
          linkTitle="Visit guides & tutorials"
          linkURL="https://airdb.wiki/"
          isArrowVisible={true}
          ><Icon name="question" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="访问办公室"
          content="Singapore Airdb"
          isAddressVisible={true}
          addressContent="3 Phillip St, #19-02 ROYAL GROUP BUILDING, Singapore 048693"
          ><Icon name="mapPin" />
        </ContactIconBlock>
      </div>
    </div>
  </div>
</section>
